body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

#CityInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#SearchButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#SearchButton:hover {
    background-color: #2980b9;
}

h3 {
    color: #2c3e50;
    margin: 10px 0;
}

h6 {
    color: #7f8c8d;
    margin: 5px 0;
}

p {
    font-size: 2rem;
    color: #e74c3c;
    margin: 5px 0;
}